
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    background-color: #2e2e2eb8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: -10px -10px 15px rgba(94, 255, 0, 0.155);
    border: 1px solid;
    z-index: 1000;
}

h1 {
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #fff;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
  }
.btn{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 45px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    padding: 0px 42px;
    margin-top: 10px;
    position: relative;
    background-color: #2e2e2e;
    transition: opacity 0.3s linear 0s;
  }

.btn span{
    left: 0;
    position: relative;
    transition: all 0.2s ease-out 0s;
  }
  
  .btn i{
    width: 18px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -9px;
    line-height: 18px;
    opacity: 0;
    transition: all 0.4s ease-out 0s;
  }
  
  .btn:hover span{
    left: -18px;
  }
  
  .btn:hover i{
    opacity: 1;
    right: 24px;
  }
.btn:hover {
    color:white;
    background-color: #2e2e2e;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    color: white;
}
